.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal::after {
    content: '';
    background-color: #000;
    opacity: .35;
    height: 100%;
    width: 100%;
    position: absolute;
}


.ModalContainer {
    width: 100vw;
    /*top:0;*/
    transition: 0.5s all ease;
    /*position: absolute;*/
    z-index: 2;
    margin: auto;
    border-radius: 3px;
}

@media (min-width: 768px) {

}

.ModalContent {
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.DrawerOpen {
    right: 0 !important;
}