
@media (min-width: 768px) {
  .MobileIconToggle {
    display: none;
  }
}

@media (max-width: 767px) {
    .NavLinks {
        display: none;
    }

}

.NavLinks {
    font-weight: bold;
    font-size: 14px;
}

.NavLinks a {
    color: var(--gray-level-two);
}

.NavLinks a:hover {
    color: #333;
    text-decoration: none;
}

