

.Wrapper {
  border: 1px solid #dfe2e5;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    max-width: 320px;
    background-color: white;
}

.Wrapper .container {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

@media (max-width: 767px) {
    .Wrapper.Mobile {
        display: none;
    }
}
